extend base
block header
    header
        .showcase
            h1.main-heading Welcome to JobLess.com
            .btns
                a.btn.home(href='/signup')
                    b SignUp for free
            a.already(href='/login') Already have an account? Login Now